<div class="container page">
    <h2>Контакты</h2>

    <div class="row contacts">
        <dl>
            <dt>
                <span class="icon icon-marker"></span>
            </dt>
            <dd>............ Москва - Красногорск - Минск</dd>
            <dt>
                <span class="icon icon-mail"></span>
            </dt>
            <dd>............... annabazenovskaya@mail.ru</dd>
            <dt>
                <span class="icon icon-phone"></span>
            </dt>
            <dd class="phone">............................... +7 916 242 93 42</dd>
            <dt>
                <span class="icon icon-whatsApp"></span>
            </dt>
            <dd class="phone">.......... +7 916 242 93 42</dd>
            <dt>
                <span class="icon icon-viber"></span>
            </dt>
            <dd class="phone">....................... +7 916 242 93 42</dd>
        </dl>
    </div>
</div>
