<div class="container">
    <!-- if galleries -->
	{{#if galleries}}
		{{# each galleries}}
            <h2>{{name}}
            </h2>

            <div class="portfolio-container">
                <div class="gallery-images">
                    <!-- Controls -->
                    <a class="left gallery-control" role="button">
                        <span class="arrow  btn-left"></span>
                    </a>
                    <a class="right gallery-control" role="button">
                        <span class="arrow btn-right"></span>
                    </a>

                    <div id="slider" class="portfolio-slides-container">
						{{#each images}}
                            <div class="gallery-image-big">
                                <img class="img picture-slides-image"  src="{{cloudinaryUrl}}">
                            </div>
						{{/each}}
                    </div>
                </div>

                <div class="portfolio-thumbnails" id="data-container">
					{{#each images}}
                        <div class="col-md-15 col-xs-15 col-lg-15 gallery-image thumb">
                            <img class="img" width="179" height="179"
                                 src="{{cloudinaryUrl gravity='face' width ='358' height ='358' crop ="fill"}}">
                        </div>
					{{/each}}
                </div>
            </div>
            <div id="pagination-container"></div>

		{{/each}}
	{{else}}
        <!-- else -->
        <h3 class="text-muted">Галлерея еще не создана</h3>
	{{/if}}

</div>
