{{!< default}}
<div class="container">
    <section>
        <div id="carousel-main" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-main" data-slide-to="1"></li>
                <li data-target="#carousel-main" data-slide-to="2"></li>
                <li data-target="#carousel-main" data-slide-to="3"></li>
                <li data-target="#carousel-main" data-slide-to="4"></li>
                <li data-target="#carousel-main" data-slide-to="5"></li>
                <li data-target="#carousel-main" data-slide-to="6"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active"><img src="images/slider/1.jpg" alt="..."></div>
                <div class="item"><img src="images/slider/2.jpg" alt="..."></div>
                <div class="item"><img src="images/slider/3.jpg" alt="..."></div>
                <div class="item"><img src="images/slider/4.jpg" alt="..."></div>
                <div class="item"><img src="images/slider/5.jpg" alt="..."></div>
                <div class="item"><img src="images/slider/6.jpg" alt="..."></div>
                <div class="item"><img src="images/slider/7.jpg" alt="..."></div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-main" role="button" data-slide="prev">
                <span class="arrow arrow-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-main" role="button" data-slide="next">
                <span class="arrow arrow-right"></span>
            </a>
        </div>
    </section>
    <section class="about-me">
        <h2>Обо мне</h2>

        <div class="row">
            <div class="col-md-3 text-center"><img width="205" src="images/avatar.png" alt="Алена Верниковская"/>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">Дюшен де Булон как-то сказал, что </br>
                в фотографии мы можем передать хорошо только то, что хорошо понимаем. </br>
                Я всегда восхищалась тем, насколько </br>
                детский мир увлекателен и непредсказуем — </br>
                целая вселенная в другом измерении.. Мои собственные дети каждый день вдохновляют меня, показывая те
                самые моменты,
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                которые должны остаться в памяти каждой семьи: рождение вашего малыша и его первые шаги; искренняя
                радость снежному утру </br>
                и яркие впечатления от самых простых вещей. Фотография помогает мне запечатлеть все
                те мелочи, которые наполняют жизнь людей смыслом, и поделиться этим счастьем </br>
                с другими.
            </div>
            <div class="col-md-4 visible-sm visible-xs">
                Дюшен де Булон как-то сказал, что
                в фотографии мы можем передать хорошо только то, что хорошо понимаем.
                Я всегда восхищалась тем, насколько
                детский мир увлекателен и непредсказуем —
                целая вселенная в другом измерении.. Мои собственные дети каждый день вдохновляют меня, показывая те самые моменты, которые должны остаться в памяти каждой семьи: рождение вашего малыша и его первые шаги; искренняя
                радость снежному утру и яркие впечатления от самых простых вещей. Фотография помогает мне запечатлеть все
                те мелочи, которые наполняют жизнь людей смыслом, и поделиться этим счастьем
                с другими.
            </div>

            <div class="col-md-1"></div>
        </div>
    </section>
    <section class="portfolio-menu">
        <h2>Портфолио</h2>
            <div class="menu-item col-md-4 col-sm-4 col-xs-4"><a href="portfolio-kids">
                <img width="100%" src="images/menu/kids.jpg" alt="Дети"/>

                <h3 class="menu-item-title">Дети</h3>
            </a></div>
            <div class="menu-item col-md-4 col-sm-4 col-xs-4"><a href="portfolio-family">
                <img width="100%" src="images/menu/family.jpg" alt="Семья"/>

                <h3 class="menu-item-title">Семья</h3>
            </a></div>
            <div class="menu-item col-md-4 col-sm-4 col-xs-4"><a href="portfolio-waiting">
                <img width="100%" src="images/menu/pregnant.jpg" alt="В ожидании"/>

                <h3 class="menu-item-title">В ожидании</h3>
            </a></div>
            <div class="menu-item col-md-4 col-sm-4 col-xs-4"><a href="portfolio-adults">
                <img width="100%" src="images/menu/adult.jpg" alt="Взрослые"/>

                <h3 class="menu-item-title">Взрослые</h3>
            </a></div>
            <div class="menu-item col-md-4 col-sm-4 col-xs-4"><a href="portfolio-babies">
                <img width="100%" src="images/menu/baby.jpg" alt="Младенцы"/>

                <h3 class="menu-item-title">Младенцы</h3>
            </a></div>
            <div class="menu-item col-md-4 col-sm-4 col-xs-4"><a href="portfolio-christening">
                <img width="100%" src="images/menu/christening.jpg" alt="Крещение"/>

                <h3 class="menu-item-title">Крещение</h3>
            </a></div>

    </section>
</div>
