{{!< default}}
<div class="container service">
    <h2>УСЛУГИ</h2>

    <div class="service-box">
        <div class="service-img">
            <img src="images/Service/1.png" alt=""/>
        </div>
        <div>
            <h5>Пакет «Минимальный»</h5>
            <ul class="dashed">
                <li>Фотосессия длится 1 час в студии, на свежем воздухе или в домашних условиях;</li>
                <li>Вы получаете 15 фотографий в авторской ретуши + 40 фотографий, прошедших
                    минимальную цветокоррекцию;
                </li>
                <li>Уменьшенные копии для размещения в сети интернет;</li>
                <li>Слайд-шоу.</li>
            </ul>
            <p class="price">Стоимость: 11 000 руб.</p>
        </div>
    </div>
    <div class="service-box">
        <div class="service-img">
            <img src="images/Service/2.png" alt=""/>
        </div>
        <div>
            <h5>Пакет «Стандартный»</h5>
            <ul class="dashed">
                <li>Фотосессия длится 2 часа в студии, на свежем воздухе или в домашних условиях;</li>
                <li>Услуги визажиста (1 образ);</li>
                <li>Вы получаете 25 фотографий в авторской ретуши + 60 фотографий, прошедших
                    минимальную цветокоррекцию;
                </li>
                <li>Уменьшенные копии всех фотографий для размещения в сети интернет;</li>
                <li>Фотокнига в твердой обложке 20*20 (10 разворотов).</li>
            </ul>
            <p class="price">Стоимость: 15 000 руб.</p>
        </div>
    </div>
    <div class="service-box">
        <div class="service-img">
            <img src="images/Service/3.png" alt=""/>
        </div>
        <div>
            <h5>Пакет «Премиум»</h5>
            <ul class="dashed">
                <li>Фотосессия длится 3-4 часа в студии, на свежем воздухе или в домашних условиях
                    (включая аренду студии, можно совместить съемку дома и на улице или в студии);
                </li>
                <li>Услуги визажиста (1образ);</li>
                <li>Вы получаете 50 фотографий в авторской ретуши + 100 фотографий, прошедших
                    минимальную цветокоррекцию;
                </li>
                <li>Уменьшенные копии всех фотографий для размещения в сети интернет;</li>
                <li>Фотокнига премиум-класса 30*30 или 30*20 (20 разворотов);</li>
                <li>Приоритет в исполнении заказа.</li>
            </ul>
            <p class="price">Стоимость: 30 000 руб.</p>
        </div>
    </div>
    <div class="service-box">
        <div class="service-img">
            <img src="images/Service/4.png" alt=""/>
        </div>
        <div>
            <h5>Фотосъемка крещения</h5>
            <ul class="dashed">
                <li>Фотосессия самого крещения и небольшая фотосессия до или после крещения;
                </li>
                <li>Вы получаете 10 фотографий в авторской ретуши + до 60 фотографий,
                    прошедших минимальную цветокоррекцию;
                </li>
                <li>Уменьшенные копии всех фотографий для размещения в сети интернет;
                </li>
                <li>Фотокнига по желанию (оплачивается отдельно).</li>
            </ul>
            <p class="price">Стоимость: 10 000 руб.</p>
        </div>
    </div>
    <div class="service-footer"><p>Оплата в день съемки, по окончании работы. Съемка больших семей (несколько
        поколений или многодетных), одновременно съемках нескольких семей
        оговаривается заранее. Вы всегда можете заказать ретушь дополнительных фотографий – 300 руб. за 1 шт.
        Ускоренная обработка или конфиденциальность
        сьемки + 30%. Ваше согласие на съемку означает согласие на то, что эти фотографии я могу использовать в
        своем портфолио на различных ресурсах.
        Стоимость проведения съемок в других городах рассчитывается индивидуально.</p></div>
    <!--	{{# each services}}
        <h2>{{{title}}}</h2>
            <p>{{{content.extended}}}</p>
	{{/each}}-->

</div>
