/*----------------------------- MAIN START-----------------------------*/
body {
  color: #282828;
}

h2 {
  text-transform uppercase
  text-align center
  font-family: 'Open Sans', sans-serif;
  font-size 26px
  font-style normal
  margin-bottom: 37px;
  line-height: 36px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size 24px
  text-transform uppercase
  font-style normal
  text-align center
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-style: normal;
  text-align: center;
  margin-bottom: 20px;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size 18px
  line-height 24px
  font-weight 500
  margin-bottom 15px
  text-transform uppercase
}

ul.dashed {
  list-style-position: outside;
  padding: 0;
  margin: 0 0 20px;
}

ul.dashed li {
  list-style: none;
  line-height 20px
  margin-bottom 5px
  position relative
}

ul.dashed li:before {
  content: '\2013'
  position absolute
  left: -15px;

}

.arrow {
  position absolute
  width: 22px;
  height: 83px;
  transition opacity 5s
  font-size: 30px;
  top: 0
  bottom: 0
  margin auto
  left: 40px;
  outline none
  transform none
  background url('../images/arrow-slider.png') no-repeat;
}

.arrow-right {
  background-position 0 -83px;
  left auto
  right 40px
}

.container
  max-width: 1200px;
  position relative
  width auto
  padding-top 20px

section {
  margin-bottom 50px
}

#pagination-container {
  display block
  margin 0 auto
  text-align center
  z-index 10
  position relative
  clear: both;
  font-family: 'Open Sans', sans-serif;

}

.paginationjs-pages {
  display inline-block
  margin: 22px 0 17px 0;
  font-size 14px
  font-family: 'Open Sans', sans-serif
  padding-left 0
}

.paginationjs-pages ul {
  padding 0
  margin 0
}

.paginationjs-pages li {
  display inline-block
  padding: 6px;
}

.pagination > li > a {
  padding: 6px;
}

.pagination > li > a {
  border none
}

.paginationjs-prev a, .paginationjs-next a {
  color: #fff
  height 20px
}

.pagination-btn, .paginationjs-prev a, .paginationjs-next a {
  width 11px
  height 22px
  display block
  background url('../images/pagination.png') no-repeat;
  background-position 0 -22px
}

.pagination-btn.right, .paginationjs-next a {
  background-position 0 0
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background none
  border: none
  color #282828
}

.paginationjs-page a
  position: relative;
  line-height: 1.428571429;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  margin-left: -1px;

.paginationjs-page.active > a, .paginationjs-page.active > a:hover,
.paginationjs-page.active > span:hover, .paginationjs-page.active > a:focus {
  background none
  border: none
  color #282828
  text-decoration none
}

/*----------------------------- MAIN END -----------------------------*/
/*----------------------------- HEADER START -----------------------------*/
#header
  padding-top: 50px;

#header .header-logo-wrapper
  text-align center
  padding-top: 38px;

#header .main-logo
  display inline-block
  width 296px
  height 75px
  background url('../images/logo.gif') no-repeat 100% 100%;
  background-size cover
  outline: none;

#header .header-logo
  margin-bottom 15px

.header-description
  font-style italic
  font-size 16px
  margin-top 14px
  margin-bottom 40px

.navbar {
  min-height 48px
}

#header .navbar-toggle
  float left
  padding 0

.navbar-fixed-top
  background: #5d5861
  border: none

#header .navbar-header
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  padding: 0;

#header .navbar-default .navbar-toggle {
  border none
  background-color: transparent
  z-index: 1000;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  top: 16px;
  display: block;
  padding: 20px;
  left: 0;
}

#header .navbar-default .navbar-toggle:hover {
  background-color: transparent

}

.navbar-toggle .patty {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  position: relative;
  width: 44px;
  height: 2px;
  border-radius: 2px;
  background rgba(255, 255, 255, 1)
}

.navbar-toggle .patty:before, .navbar-toggle .patty:after {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  position: absolute;
  z-index: 1;
  display: block;
  width: 44px;
  height: 2px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 1);
  content: ''
}

.navbar-toggle .patty:before {
  top: -7px
}

.navbar-toggle .patty:after {
  top: 7px
}

.navbar-toggle.open .patty {
  background: none
}

.navbar-toggle.open .patty:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 15px;
}

.navbar-toggle.open .patty:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 15px;
}

.navbar-default .navbar-collapse {
  border none
  box-shadow none
  min-height 0
  padding-left 80px
  overflow: hidden;

}

.navbar-default .navbar-nav {
  margin-bottom 20px
  margin-top 15px
  display: flex;
  justify-content space-around
}

.navbar-default .navbar-nav > li
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-transform: uppercase;

.navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a
  font-size 20px
  font-family: 'Open Sans', sans-serif;
  font-weight 600
  color white
  text-transform uppercase

.navbar-default .navbar-nav > li > a {
  padding-top: 4px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-nav > li > ul > li > a:hover,
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active
  text-decoration none
  background none
  outline none

.navbar-nav > li > ul > li > a
  font-size 14px
  font-family: 'Open Sans', sans-serif;
  color white
  text-transform none
  font-weight 400

.navbar-nav > li > ul > li > a:hover
  color: #333;

.social-icons
  top 0
  padding-top: 12px;
  position absolute
  right: 20px;

.social-icons a
  width 24px
  height 22px
  display inline-block
  background url('../images/social-icons.png')

.social-icons .fb
  background-position 49px 0

.social-icons .insta
  background-position 24px 0

.list-inline > li
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: top;

/*----------------------------- HEADER END -----------------------------*/
/*----------------------------- FOOTER -----------------------------*/
#footer
  color #2c2b2b
  margin-top 5px
  border-top 1px solid gray-lighter
  padding-top 30px
  font-family: 'Open Sans', sans-serif;
  font-size 12px
  text-align center
  padding-bottom 20px

/*----------------------------- FOOTER END -----------------------------*/
/*----------------------------- INDEX -----------------------------*/

.gallery-image img
  display block
  max-width 100%
  height auto

.about-me {
  font-style italic
  font-size 16px
  /*  padding: 0 0 0 50px;*/
}

.about-me .row .col-md-3:first-child {
  margin-bottom 35px
}

#carousel-main
  margin-bottom 80px

.carousel-indicators
  bottom 8px

.carousel-indicators li
  width 14px
  height 14px
  margin-left: 4px
  margin-right: 4px

.carousel-indicators .active
  margin: 1px;
  margin-left: 4px
  margin-right: 4px
  width: 14px;
  height: 14px;
  background-color: rgba(255, 255, 255, .35);

.portfolio-menu [class*="col-"]
  padding: 0
  margin: 0

.portfolio-menu .menu-item {
  position relative
}

.portfolio-menu .menu-item a .menu-item-title {
  position absolute
  top: 7%
  left 5%
  opacity 0
  transition 0.5s ease-in-out

}

.portfolio-menu h3 {
  color white
  text-align left
}

.portfolio-menu .menu-item a
  display inline-block
  position relative
  width 100%
  outline none
  border none

.portfolio-menu .menu-item a::after
  content ''
  display block
  opacity 0
  background black
  width 100%
  height 100%
  position absolute
  left 0
  top 0
  transition 0.5s ease-in-out

.portfolio-menu .menu-item a:hover, .portfolio-menu .menu-item a:focus
  text-decoration none
  outline none
  border none
  border-width 0
  outline-offset 0

.portfolio-menu .menu-item a:hover .menu-item-title {
  opacity 1
  top: 5%
  z-index: 10;
}

.portfolio-menu .menu-item a:hover::after
  opacity 0.4

/*----------------------------- INDEX END -----------------------------*/
/*----------------------------- GALLERY -----------------------------*/
#slider {
  position relative
  margin-bottom 20px
  width 100%
  overflow hidden
  height: 100%;
}

.gallery-image-big {
  position absolute
  right 0
  left 0
  transition opacity 1s ease-in-out
  opacity 0
  z-index 0
  margin auto
}

.gallery-image-big img {
  width 100%
  height auto
}

.gallery-image-big.active {
  opacity 1
  z-index 10
}

.portfolio-container {
  max-width: 1026px;
  margin: auto;
  position relative
  height 0
}

.gallery-images {
  position relative
  padding-left: 15px;
  padding-right: 15px;
  margin 0 auto 90px auto;
}

.gallery-image {
  margin-bottom 25px
  cursor pointer

}

.gallery-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index 20
}

.gallery-control.right {
  left auto
  right 0
  background-repeat repeat-x
  transition background 0.5s ease-in-out
}

.gallery-control .arrow {
  position absolute
  width: 22px;
  height: 83px;
  transition opacity 5s
  font-size: 30px;
  opacity 1
  top: 0
  bottom: 0
  margin auto
  left: 40px;
  outline none
  background url('../images/arrow-slider.png') no-repeat;
}

.gallery-control .arrow:focus, .gallery-control .arrow:hover {
  text-decoration none
  outline: none
  box-shadow none
}

.gallery-control:hover {
  opacity: 0.9
  transition opacity 0s
}

.gallery-control.right .arrow {
  background-position 0 -83px;
  right: 40px;
  left auto
}

.thumb {
  position relative
  transition 0.5s ease-in-out
  margin-bottom: 2.3%;

}

.thumb img {
  transition 0.5s ease-in-out
}

.thumb.active img, .thumb img:hover {
  -webkit-filter: brightness(60%)
  filter: brightness(60%)
}

/*----------------------------- GALLERY END -----------------------------*/
/*----------------------------- CONTACTS -----------------------------*/

/*DL, DT, DD TAGS LIST DATA*/
dl {
  font-family: 'Open Sans', sans-serif;
  font-weight 300
  font-size 18px
  white-space nowrap

}

dd.phone {
  font-size 20px
}

dl dt {
  float: left;
}

dl dd {
  margin: 2px 0;
  padding: 5px 0;
  text-align right
  margin-bottom 45px
}

.contacts {
  width 340px
  margin auto
  margin-bottom: 20px;
}

.icon {
  display block
  background url('../images/contact-icons.png');
  background-repeat no-repeat
  position: relative;
}

.icon.icon-marker {
  width 29px
  height 36px
  background-position 0 0
  top: -11px;

}

.icon.icon-mail {
  width 40px
  height 27px
  background-position -35px 0
  top: -2px;
}

.icon.icon-phone {
  width 25px
  height 45px
  background-position -85px 0
  top: -20px;
}

.icon.icon-whatsApp {
  width 125px
  height 33px
  background-position 0 -74px
}

.icon.icon-viber {
  width 64px
  height 31px
  top: 5px
  background-position 0px -41px;
}

/*----------------------------- GALLERY END -----------------------------*/
/*----------------------------- ADVICE -----------------------------*/
.advice {
  font-family: 'Open Sans', sans-serif;
  font-size 14px
  line-height 24px
  max-width 860px
}

.advice strong {
  display block
  margin-bottom 15px
  font-family: 'Open Sans', sans-serif;
  font-size 18px
  text-transform uppercase
  font-style normal
  font-weight 400
  text-align center
}

.advice img {
  width 100% !important
  height 100% !important
  margin: 16px 0 16px 0
}

.advice ul {
  list-style-position: outside;
  padding: 0;
  margin: 0 0 20px;
}

.advice ul li {
  list-style: none;
  margin-bottom 10px
  position relative
}

.advice ul li:before {
  content: '\2013'
  position absolute
  left: -15px;

}

.advice p {
  margin-bottom 8px;
}

/*----------------------------- ADVICE END -----------------------------*/
/*----------------------------- NEWS -----------------------------*/
.news, .post {
  max-width 860px
}

.news .publish-date, .post .publish-date {
  color #282828
  text-align center
  font-family: 'Open Sans', sans-serif;
  font-weight 400
  font-size 16px
  font-style normal
  margin-bottom: 18px;
  display: block;
}

.news .post {
  padding-bottom 55px
  margin-bottom 55px
  border-bottom 1px solid #282828
}

.post {
  font-family: 'Open Sans', sans-serif;
  font-weight 400
}

.post img {
  max-width: 100%;
  display block
  margin 50px 0
  height: auto !important;
}

.post p {
  line-height: 26px;
}

.post a {
  font-weight: 300;
  text-decoration none
  color: #282828;
}

.post a:hover {
  text-decoration underline
}

.post .read-more {
  margin-top 30px
}

.post .read-more a {
  text-decoration none
  position relative
}

.post .read-more a:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #282828;
  position: absolute;
  bottom: -1px;
  opacity: 0.5;
  display: block;
  transition opacity 0.5s
  left: 0;
  right: 0;
}

.post .read-more a:hover:after {
  opacity 0
}

/*----------------------------- NEWS END -----------------------------*/
/*----------------------------- SERVICE -----------------------------*/
.service {
  max-width 920px
  color #282828
  font-family: 'Open Sans', sans-serif;
}

.service .price {
  font-size 18px
  font-weight 600
}

.service ul {
  font-weight 400
  margin-bottom 10px
}

.service li {
  margin-bottom 4px
}

.service-box {
  display: flex;
  align-items: center
  margin-bottom 45px
}

.service .service-box:nth-child(4n+1) .service-img {
  position relative
  left -9px

}

.service-img {
  min-width 300px
  text-align center
  margin-right 40px
}

.service-footer {
  border-top: 1px solid #38333c;
  font-size 12px
  line-height 21px
  padding-top 15px
  font-weight 400
  margin-top 65px
  padding-bottom 15px
}

