/*.container

  @media (min-width $screen-lg-min)
	  padding-left 0
	  padding-right 0*/

@media (max-width $screen-md-min)
  #header .navbar-default .navbar-toggle {
	  left 0
  }
  .navbar-nav > li > ul > li > a{
	  font-size 12px
  }
  .navbar-default .navbar-collapse{
	  padding-left 100px
  }
  .navbar-nav > li > a {
	  line-height: 16px;
  }
	
  .navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a{
	  font-size:16px  
  }
  .list-inline > li{
      padding 0
  }
  .gallery-images {
    margin-bottom 40px
  }
  
@media (max-width $screen-xs-max)
  .arrow {
	  transform: scale(0.5);
	  left:15px;
  }
  .arrow-right {
	left:auto;
	right:15px;
  }
  .portfolio-menu .menu-item a
	  text-decoration none
	  outline none
	  border none
	  border-width 0
	  outline-offset 0

  .portfolio-menu .menu-item a .menu-item-title {
	  opacity 1
	  top: 5%
	  z-index: 10;
  }
	
  .portfolio-menu .menu-item a::after
	  opacity 0.4

  .carousel-indicators li
	  width: 8px;
	  height: 8px;
	  margin-left: 2px;
	  margin-right: 2px;
  
  .carousel-indicators li.active
	  width: 8px;
	  height: 8px;
	  margin-left: 2px;
	  margin-right: 2px;
  
  .menu-item-title
	  font-size 10px
  
  .service-box
	  display block	
	  text-align center
  .service-box .price{
	  text-align: left;
	  margin-left: 20px
  }
  
  .service-box .service-img
	  margin-bottom 20px
	  left: 10px!important
  
  .service-box ul{
	  text-align left
	  padding 0 20px	
  }
  .contacts dl{
	  transform: scale(0.7);
  }
  .contacts{
	  left: -20px;
	  position: relative;
	  margin-top: -50px;
	  margin-bottom: -50px;
  }
  .nav > li{
	  width 100%
	  cursor pointer
	  vertical-align: baseline; 
  }
  .nav > li > ul{
	  display none
	  margin-bottom 10px
  }
  .nav > li>a{
	  padding 0 
  }
  .navbar-nav{
	flex-wrap: nowrap;
	flex-direction: column;
  }
  .navbar-nav > li:hover
     color: #333;

	


	
